<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lightning.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/assets/styles/salesforce-lightning-design-system.css" />
    </environment>

    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
                  crossorigin="anonymous"
                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
        </environment>*@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_2-of-12">

            <nav class="slds-nav-vertical" aria-label="Sub page">
                <div class="slds-nav-vertical__section">
                    <h2 id="entity-header" class="slds-nav-vertical__title">Components</h2>
                    <ul aria-describedby="entity-header">
                        @*<li class="slds-nav-vertical__item ">
                            <a href="javascript:void(0);" class="slds-nav-vertical__action" aria-current="page">Accordion</a>
                        </li>*@
                        @*<li class="slds-nav-vertical__item">
                            <a href="javascript:void(0);" class="slds-nav-vertical__action">Accordion</a>
                        </li>*@
                        @*<li class="slds-nav-vertical__item">
                            <a href="javascript:void(0);" class="slds-nav-vertical__action">Activity Timeline</a>
                        </li>*@
                        <li class="slds-nav-vertical__item  @(ViewContext.RouteData.Values["page"].ToString() == "/Alert" ? "slds-is-active":null)">
                            <a asp-page="/Alert" class="slds-nav-vertical__action">Alert</a>
                        </li>
                        <li class="slds-nav-vertical__item">
                            <a href="javascript:void(0);" class="slds-nav-vertical__action">Avatar</a>
                        </li>
                        <li class="slds-nav-vertical__item  @(ViewContext.RouteData.Values["page"].ToString() == "/Badges" ? "slds-is-active":null)">
                            <a asp-page="/Badges" class="slds-nav-vertical__action">Badges</a>
                        </li>
                        <li class="slds-nav-vertical__item  @(ViewContext.RouteData.Values["page"].ToString() == "/Buttons" ? "slds-is-active":null)">
                            <a asp-page="/Buttons" class="slds-nav-vertical__action">Buttons</a>
                        </li>
                        <li class="slds-nav-vertical__item  @(ViewContext.RouteData.Values["page"].ToString() == "/Icons" ? "slds-is-active":null)">
                            <a asp-page="/Icons" class="slds-nav-vertical__action">Icons</a>
                        </li>
                    </ul>
                </div>

            </nav>

        </div>
        <div class="slds-col slds-size_10-of-12">
            
            @RenderBody()
        </div>
    </div>






    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
            </script>
        </environment>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
